@model CRM.Models.MobileNumModel
@{
    ViewBag.Title = "Mobile Number Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <!-- datatable -->
    <script src="~/Content/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/Content/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <link href="~/Content/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}

@section Title { @ViewBag.List }


<div id="main_content" class="clearfix">
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                @using (Html.BeginForm("BatchFileUpload", "MobileNum", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form-upload" }))
                {
                    <div>
                        <input type="file" name="file" id="file" style="display: none;" accept=".csv" />
                        <span class="btn btn-success" id="btn-upload">Upload CSV File</span>
                    </div>
                }
            </div>

            <div class="line-light"></div>

            <table class="table table-striped" id="tbl-list">
                <thead>
                    <tr>
                        <th class="w50"></th>
                        <th class="">@Html.LabelFor(model => model.MSISDN)</th>
                        <th class="">@Html.LabelFor(model => model.Price)</th>
                        <th class="">@Html.LabelFor(model => model.BatchNum)</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
    @using (Html.BeginForm("Add", "MobileNum", FormMethod.Post))
    {
        <div class="content-footer">
            <div>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(function () {
        loadListTable();
    });

    function loadListTable() {
        var oTable = $("#tbl-list").DataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("ListUploadedMobileNum", "MobileNum")",
            "bProcessing": true,
            "aoColumns": [
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (data, type, full) {
                            return '';
                        }
                    },
                    { "mData": "MSISDN" },
                    {
                        "mData": "Price",
                        "fnRender": function (Obj) {
                            return "RM " + Obj.aData['Price'];
                        }
                    },
                    { "mData": "BatchNum" }
            ]
        });

        //add class to jquery.datatables filter
        $('.dataTables_length select').addClass("btn btn-primary");
        $('.dataTables_filter input').addClass("form-control");
    }

    $('#file').change(function () {
        $('#form-upload').submit();
    });

    $("#btn-upload").click(function () {
        $("#file").click();
    });
</script>

